.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.2;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url('../images/icon_top.png') no-repeat;
  transition: opasity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scrollup:hover {
  opacity: 0.3;
}
